* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  
}

.container{
    padding-top: 13px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    
}

.bg-blue{
    background-color: #3498DB;
}

.blue{
    color: #3498DB;
}
.icon{
    font-size: 20px;
}

.gap-i{
    column-gap: 20px;
    padding-top: 20px;
}

.flex{
    display: flex;
}

.text-black{
    color: black;
}
.text-large{
    font-size: 40px;
    line-height: 50px;
}
.text-medium{
    font-size: 20px;
    font-weight: 500;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}

.text-gray{
color: #95A5A6
}

.teat-team{
    color: #b5b5b5;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.divide-top-b{
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #A0AEAF;

}
.flex-col{
    display: flex;
    flex-direction: column;
}
.divide-top{
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #A0AEAF;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pb-40{
    padding-bottom: 40px;
}
.padding-card{
    padding: 20px;
}

.mobile-img{
   width: 40%;
}

.py-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.mb-20{
    margin-bottom: 20px;
}

.bg-yellow{
    background-color: #F0AD4E;
}

.button-style{
    border: none; 
    padding-top: 10px;
    padding-bottom:10px; 
    padding-left: 15px; 
    padding-right: 15px;
    border-radius: 3px;
}

.contact-btn{
    border: none; 
    padding-top: 13px;
    padding-bottom:13px; 
    padding-left: 30px; 
    padding-right: 30px;
    border-radius: 3px;
    color: white;
    font-weight: 300;
    font-size: 14px;
}

.font-light{
    font-weight: 200;
    font-style: normal;
}
.newsletter input[type=text]{
    border: 1px;
    border-style: solid;
    border-color: #d6d6d6;
    width: 210px;
    padding-left: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
    border-radius: 3px;
    color: black;
}

.newsletter button{
    font-weight: 400;
    font-size: 18px;
}

#contact input[type=text]{
    border: 2px;
    border-style: solid;
    border-color: #d6d6d6;
    width: 50%;
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 13px;
    border-radius: 3px;
    color: #393939;
}

#contact textarea {
 border: 2px;
  border-style: solid;
  border-color: #d6d6d6;
  width: 50.3%;
  height: 120px;
  padding-left: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #393939;
  font-size: 13px;
}
.hero-image{
    position: absolute;
    width: 580px;
    top: 96px;
    right: 200px;
}

.card-img{
    width: 70%;
}

.team-img{
    width: 40%;
    border-radius: 100%;
}

.bg-cream{
    background-color: #F2F2F2;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}
.logo-text{
    font-size: 20px;
    font-weight: 500;
}
.p-small{
    font-size: 17px;
}

.padding-all{
    padding: 20px;
}

.section-padding{
    padding-top: 200px;
    padding-bottom: 256px
}


/* media query */
@media (max-width: 1024px){
    .container{
        padding-left: 100px;
        padding-right: 100px;
    }

    .hero-image{
        width: 400px;
        right: 100px;
        top: 150px;
    }

    .text-medium{
        font-size: 18px;
    }

    .section-padding {
        padding-top: 150px;
        padding-bottom: 200px;
    }

    .text-large{
        font-size: 32px;
        line-height: 40px;
    }

    #contact input[type=text]{
        width: 70%;
    }

    #contact textarea {
        width: 70.3%;
    }
}

@media (max-width: 768px){
    .container{
        padding-left: 40px;
        padding-right: 40px;
    }

    .section-padding {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .hero-image{
        position: static;
        width: 100%;
        margin-top: 30px;
    }

   

    .flex-sec{
        flex-direction: column;
    }

    .text-large{
        font-size: 24px;
        line-height: 32px;
    }

    .text-medium{
        font-size: 16px;
    }

    .card-img{
        width: 50%;
    }

    .team-img{
        width: 60%;
    }

    .padding-all{
        padding: 15px;
    }

    .newsletter input[type=text]{
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter button{
        width: 100%;
    }

    #contact input[type=text]{
        width: 90%;
    }

    #contact textarea {
        width: 90.3%;
    }

    .contact-btn{
        width: 90%;
    }
}

@media (max-width: 480px){
    .container{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
    }

    .section-padding {
        padding-top: 60px;
        padding-bottom: 0px;
    }

    .hero-image{
        width: 100%;
    }

    .text-large{
        font-size: 27px;
        line-height: 30px;
    }

    .text-medium{
        font-size: 14px;
    }

    .p-small{
        font-size: 12px;
    }

    .logo-text{
        font-size: 16px;
    }

    .card-img{
        width: 60%;
    }

    .team-img{
        width: 80%;
    }

    .padding-all{
        padding: 10px;
    }

    .gap-i{
        column-gap: 10px;
        padding-top: 10px;
    }

    .icon{
        font-size: 16px;
    }

   

    .py-40{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .py-80{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .newsletter input[type=text]{
        width: 100%;
        font-size: 14px;
    }

    .newsletter button{
        font-size: 14px;
        width: 50%;
    }

    

    .contact-btn{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 12px;
        width: 60%;
    }

    #contact input[type=text]{
        width: 95%;
        font-size: 12px;
    }

    #contact textarea {
        width: 95.3%;
        height: 100px;
        font-size: 12px;
    }
    .contact-sec{
        padding: 15px;
    }

    .team-img{
        width: 50%;
    }

    .gap-i{
        column-gap: 15px;
        padding-top: 10px;
    }

    .mobile-img{
   width: 80%;
    }
}
