* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.container{
    padding-top: 13px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
    
}

.bg-blue{
    background-color: #3498DB;
}

.flex{
    display: flex;
}

.text-large{
    font-size: 43px;
}
.text-medium{
    font-size: 20px;
    font-weight: 500;
}
.text-center{
    text-align: center;
}
.text-white{
    color: white;
}

.text-gray{
color: #A0AEAF;
}

.my-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.divide-top-b{
    border-top: 1px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #A0AEAF;

}
.flex-col{
    display: flex;
    flex-direction: column;
}
.divide-top{
     border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    border-color: #A0AEAF;
}
.py-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.padding-card{
    padding: 20px;
}

.py-40{
    padding-top: 40px;
    padding-bottom: 40px;
}

.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.bg-yellow{
    background-color: #F0AD4E;
}

.button-style{
    border: none; 
    padding-top: 10px;
    padding-bottom:10px; 
    padding-left: 15px; 
    padding-right: 15px;
    border-radius: 3px;
}

.font-light{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}
input[type=text]{
    border: none;
    width: 210px;
    padding-left: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 17px;
    border-radius: 3px;
    color: black;
}

.hero-image{
    position: absolute;
    width: 580px;
    top: 119px;
    right: 200px;
}

.card-img{
    width: 80%;
}

.team-img{
    width: 40%;
    border-radius: 100%;
}

.bg-cream{
    background-color: #F2F2F2;
}

.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}
.logo-text{
    font-size: 20px;
    font-weight: 500;
}
.p-small{
    font-size: 17px;
}

.section-padding{
    padding-top: 200px;
    padding-bottom: 256px
}